<div class="screen2">
    <div class="titol">Les meves activitats</div>
    <div class="caixaDeCaixes1">
        <app-veure-activitats></app-veure-activitats>
    </div>
    <div class="titol">Afegir activitats</div>
    <div class="caixaDeCaixes">
        <app-inscriure-activitats></app-inscriure-activitats>
    </div>
</div>



