.screen2 {
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column
}

.titol {
    display: flex;
    margin: 30px 0px 0px 30px;
    font-size: 35px;
    font-weight: bold;
    color: black;
}


.caixaDeCaixes1 {
    display: flex;
    margin: 15px 0px 0px 20px;
    height: auto;
    width: calc(100% - 30px);
    /* border: 1px solid black; */
}

.caixaDeCaixes {
    display: flex;
    margin: 15px 0px 0px 20px;
    height: 390px;
    width: calc(100% - 30px);
    /* border: 1px solid black; */
}

app-inscriure-activitats {
    display: flex;
    width: 100%;
}

app-veure-activitats {
    display: flex;
    width: 100%;
}