.screen2 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: row;
    margin-top: 100px;
}

.lateral {
    display: flex;
    height: 100%;
    width: 20%;
    background-color: white;
    /* box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.05); */
    flex-direction: column;
    justify-content: space-between;
}

.lateral-top {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* .lateral-bottom {
    display: flex;
    flex-direction: column;
} */


.botoLateral {
    display: flex;
    margin: 25px 20px -10px 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    height: 37px;
    border-radius: 3px;
    align-items: center;
    padding-left: 13px;
    cursor: pointer;
    color: blueviolet;
}

.botoLateral2 {
    display: flex;
    margin: 25px 20px -10px 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    height: 37px;
    border-radius: 3px;
    align-items: center;
    padding-left: 13px;
    cursor: pointer;
    color: blueviolet;
}

.botoLogOut {
    display: flex;
    margin: 0px 20px 20px 20px;
    background-color: blueviolet;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    height: 37px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.botoLogOut:hover {
    background-color: rgb(155, 47, 255);
}


.botoLateral:hover {
    background-color: blueviolet;
    color: white;
}

.botoLateral2:hover {
    background-color: blueviolet;
    color: white;
}

.screen3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background-color: white;
}

.screen-actForm {
    display: flex;
    height: 100%;
    width: 50%;
}

.screen-actLlista {
    display: flex;
    height: 100%;
    width: 50%;
}

app-llistaractivitats {
    display: flex;
    justify-content: center;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

app-afegiractivitats {
    display: flex;
    justify-content: center;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

router-outlet {
    display: flex;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.Titol {
    display: flex;
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
}

.taula {
    display: flex;
    margin: 20px 20px 20px 20px ;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.08);
    border-radius: 5px;
    overflow-x: scroll;



}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    color: blueviolet;
}

@media only screen and (max-width: 600px) {

    .screen2 {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: white;
        flex-direction: column;
    }

    .lateral {
        display: flex;
        width: 100%;
        height: auto;
        background-color: white;
        /* box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.05); */
        flex-direction: column;
        justify-content: space-between;
    }

    .lateral-top {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .botoLateral {
        display: flex;
        background-color: white;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
        height: 37px;
        border-radius: 3px;
        align-items: center;
        cursor: pointer;
        color: blueviolet;
        width: 200px;
        margin: 20px 10px 20px 20px;
        justify-content: center;
        padding: 0px;
    }

    .botoLateral2 {
        display: flex;
        background-color: white;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
        height: 37px;
        border-radius: 3px;
        align-items: center;
        cursor: pointer;
        color: blueviolet;
        width: 200px;
        margin: 20px 20px 20px 10px;
        justify-content: center;
        padding: 0px;
    }

    .botoLateral2:hover {
        background-color: blueviolet;
        color: white;
    
    }
    
    .screen3 {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: white;
    }
}


