<div class="screen2">
    <div class="lateral">
            <div class="lateral-top">
                    <div class="botoLateral" routerLink="/admin/gestio">Gestió d'activitats</div>
                    <div class="botoLateral2" routerLink="/admin/inscripcions">Inscripcions</div>
                    <!-- <div class="botoLateral" routerLink="/admin/comptabilitat">Comptabilitat</div> -->
            </div>
    </div>
        <div class="screen3">
                <!-- <div class="Titol">Inscripcions</div> -->
                <div class="taula">
                        <table>
                                <tr>
                                        <th>Nom</th>
                                        <th>Cognoms</th>
                                        <th>Curs</th>
                                        <th>Activitat</th>
                                        <th>Tutor legal</th>
                                        <th>Correo del tutor</th>
                                        <th>Telèfon del tutor</th>
                                </tr>
                                <tr *ngFor="let inscripcioInfo of inscripcionsList">
                                        <td>{{inscripcioInfo.nomNen}}</td>
                                        <td>{{inscripcioInfo.cognomsNen}}</td>
                                        <td>{{inscripcioInfo.curs}}</td>
                                        <td>{{inscripcioInfo.nomActivitat}}</td>
                                        <td>{{inscripcioInfo.nomTutor}}</td>
                                        <td>{{inscripcioInfo.email}}</td>
                                        <td>{{inscripcioInfo.telf}}</td>
                                </tr>
                        </table>
                
                </div>
        </div>

</div>
