<!-- <div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">LOGIN</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <button class="btn btn-primary btn-lg btn-block">
            Login
          </button>
        </form>
        <div class="form-group mt-3">
          <button (click)="onGoogleLogin()" class="btn btn-lg btn-google">
            Google
          </button>
        </div>
        <div class="form-group mt-3">
          <p>
            Create an account ? <a [routerLink]="['/register']"> Register </a>
          </p>
        </div>
        <div class="form-group mt-3">
          <p>
            <a [routerLink]="['/forgot-password']"> Forgot password ? </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="screen2">
  <div class="caixa-form">
    <div class="titolForm">Inicia sessió </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- <div class="textForm" for="email">Email</div> -->
      <input placeholder="Correo electrònic" class="inputForm" type="email" formControlName="email" />
      <!-- <div class="textForm" for="password">Password</div> -->
      <input placeholder="Contrasenya" class="inputForm" type="password" formControlName="password"/>
      <div class="avis1" *ngIf="missatge">{{ missatge }}</div>

      <button class="FormBoto"> Inicia sessió </button>
      <!-- <button (click)="onGoogleLogin()" class="FormBotoGoogle"> Google</button> -->

    </form>
    <p> No tens un compte? <a [routerLink]="['/register']"> Registra't </a></p>
    <p> <a [routerLink]="['/forgot-password']">  Has oblidat la teva contrasenya? </a> </p>

  </div>
</div>
