<div class="screen2">
    <div class="lateral">
            <div class="lateral-top">
                    <div class="botoLateral" routerLink="/admin/gestio">Gestió d'activitats</div>
                    <div class="botoLateral2" routerLink="/admin/inscripcions">Inscripcions</div>
                    <!-- <div class="botoLateral" routerLink="/admin/comptabilitat">Comptabilitat</div> -->
                </div>
    </div>
    <div class="screen3">
        <div class="Titol">Comptabilitat</div>
</div>

</div>