.btn-google {
  background: #dd4b39;
  color: #fff;
  width: 100%;
}

.screen2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: white;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

}

.caixa-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  /* box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
  border-radius: 15px; */
  background-color: white;
  padding: 20px;
  margin-top: 60px;
}

.avis1 {
  display: flex;
  border: 2px solid lightcoral;
  color: lightcoral;
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  text-align: center;
}


.inputForm {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  border: 0px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 5px;
  border: 0px;
  padding-left: 20px;
  box-shadow: 0px;
}

.inputForm:focus {
  border: 0px;
}



.FormBoto{
  display: flex;
  border: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  background-color: blueviolet;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 20px;


}
.FormBotoGoogle{
  display: flex;
  border: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  background: #dd4b39;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 20px;

}

.textForm {
  color: black;
  margin-bottom: 10px;
  display: flex;
  font-size: 15px;
}

a {
  color: blueviolet;
}

.titolForm {
  display: flex;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
}

p {
  text-align: center;
}



