.caixaActivitats {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    /* border: 1px solid green; */
}

form {
    width: 100%;
}

.avis1 {
    display: flex;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 5px;
    margin: 10px 20px 10px 10px;
}

.avisIcon {
    font-size: 30px;
    margin-right: 10px;
}

.avisText {
    align-self: center;
}

.caixaOpcio {
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 350px;
    max-width: 350px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    background-color: white;
}

.caixaOpcio label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 0px;

}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label {
	background: blueviolet;
    color: white;
}


.caixaOpcioFinal {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: 10px;
    height: 300px;
    width: 20px;    
    color: white
}

.top {
    display: flex;
    flex-direction: column;

}

.bottom {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.bottom-up {
    display: flex;
    flex-direction: row;
    height: 50%;
    border-top: 1px solid rgb(231, 231, 231);
}

.bottom-down {
    display: flex;
    flex-direction: row;
    height: 50%;
    border-top: 1px solid rgb(231, 231, 231);
}

.caixaActivitatDetallsUp {
    display: flex;
    padding: 5px;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caixaActivitatDetallsUpLateral {
    border-left: 1px solid rgb(231, 231, 231);

}
.caixaActivitatDetallsDown {
    display: flex;
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.caixaActivitatTitol {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.caixaActivitatDescripcio {
    display: flex;
    margin: 0px 20px 20px 20px;
}

.caixaActivitatMonitor {
    display: flex;
    margin: 0px 20px 20px 20px;
    font-weight: bold;
}


.inputForm {
    margin: 20px 10px 20px 10px;
    border: 0px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    height: 50px;
    width: 93%;
    border-radius: 5px;
    padding-left: 20px;
}

.validation-error {
    margin: 0px 10px 20px 10px;
    color: lightcoral;
}

.FormBoto{
    display: flex;
    border: 0px;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 50px 10px;
    cursor: pointer;
    height: 50px;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 20px;

}

