<!-- <div class="actLlista2">
    <div *ngFor="let studentInfo of studentList" class="caixaActivitat">
        <div>{{studentInfo.id}}</div>
        <div class="caixaActivitatTitol">{{studentInfo.nomActivitat}}</div>
        <div class="caixaActivitatDescripcio">{{studentInfo.descripcioActivitat}}</div>
        <div class="caixaActivitatMonitor">{{studentInfo.nomMonitor}}</div>
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    </div>
</div> -->




<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" class="formulari">
    <div class="avis1">
        <div class="avisIcon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
        <div class="avisText">Per visualitzar totes les activitats disponibles llisca de dreta a esquerra</div>
    </div>
    <div class="caixaActivitats">
        <div *ngFor="let opcioInfo of ActivitatsLlista; let i = index" class="caixaOpcio" >
            <input type="radio" id="{{i}}" name="nomActivitat" value="{{opcioInfo.nomActivitat}}" 
            #nomActivitat="ngModel" [(ngModel)]="serviceInscripcions.formDataInscripcions.nomActivitat" required>

            <label for="{{i}}">
                <div class="top">
                    <div class="caixaActivitatTitol">{{opcioInfo.nomActivitat}}</div>
                    <div class="caixaActivitatDescripcio">{{opcioInfo.descripcioActivitat}}</div>  
                </div>
                <div class="bottom">
                    <div class="bottom-up">
                        <div class="caixaActivitatDetallsUp">
                            {{opcioInfo.horariActivitatInici}}h - {{opcioInfo.horariActivitatFinal}}h
                        </div>
                        <div class="caixaActivitatDetallsUp caixaActivitatDetallsUpLateral">{{opcioInfo.preuActivitat}} €</div>
                    </div>
                    <div class="bottom-down">
                        <div class="caixaActivitatDetallsDown">{{opcioInfo.nomMonitor}}</div>
                    </div>
    
                </div>
                </label>
        </div>
        <div class="caixaOpcioFinal"></div>
    </div>
    <div class="avis1">
        <div class="avisIcon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
        <div class="avisText">Per realitzar una inscripció, primer selecciona l'activitat i després completa aquest formulari</div>
    </div>


    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="serviceInscripcions.formDataInscripcions.id">

    <input type="hidden" name="email" #email="ngModel" [(ngModel)]="emailRegistrat">
    
    <input name="nomNen" #nomNen="ngModel" [(ngModel)]="serviceInscripcions.formDataInscripcions.nomNen" class="inputForm" 
    placeholder="Nom del nen/a" required>
    <div *ngIf="nomNen.invalid && nomNen.touched" class="validation-error">Es requereix escriure el nom del nen/a.</div>
    
    <input name="cognomsNen" #cognomsNen="ngModel" [(ngModel)]="serviceInscripcions.formDataInscripcions.cognomsNen" class="inputForm" 
    placeholder="Cognoms del nen/a" required>
    <div *ngIf="cognomsNen.invalid && cognomsNen.touched" class="validation-error">Es requereix escriure el cognom del nen/a.</div>

    <input name="nomTutor" #nomTutor="ngModel" [(ngModel)]="serviceInscripcions.formDataInscripcions.nomTutor" class="inputForm" 
    placeholder="Nom i cognoms del tutor que recull al nen/a" required>
    <div *ngIf="nomTutor.invalid && nomTutor.touched" class="validation-error">Es requereix escriure nom i cognoms del tutor legal.</div>

    <input list="cursos" name="curs" #curs="ngModel" [(ngModel)]="serviceInscripcions.formDataInscripcions.curs" class="inputForm" 
    placeholder="Curs del nen/a" required >
    <datalist id="cursos">
        <option value="P3">
        <option value="P4">
        <option value="P5">
        <option value="Primer de primària">
        <option value="Segon de primària">
        <option value="Tercer de primària">
        <option value="Quart de primària">
        <option value="Cinquè de primària">
        <option value="Sisè de primària">
        <option value="1 ESO">
        <option value="2 ESO">
        <option value="3 ESO">
        <option value="4 ESO">
    </datalist>
    <div *ngIf="curs.invalid && curs.touched" class="validation-error">Es requereix escriure el curs del nen/a.</div>

    <input name="telf" #telf="ngModel" [(ngModel)]="serviceInscripcions.formDataInscripcions.telf" class="inputForm" 
    placeholder="Teléfon de contacte del tutor" pattern="[0-9]{9}" required>
    <div *ngIf="telf.invalid && telf.touched" class="validation-error">Es requereix escriure un teléfon vàlid</div>

    <div class="actFormBoto">
        <button type="submit" [disabled]="form.invalid" class="FormBoto">Realitzar inscripció</button>
    </div>

</form>



    


