.actLlista2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    margin-top: 5px;
    margin-bottom: 100px;
}

.actLlistaTitol {
    display: flex;
    margin: 20px;
}

.caixaActivitat {
    margin: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    background-color: white;
    min-width: 350px;
}

.caixaActivitatTitol {
    margin: 0px 20px 20px 20px;
    font-weight: bold;
    font-size: 30px;
}

.caixaActivitatDescripcio {
    margin: 0px 20px 20px 20px;
    color: rgba(0,0,0,0.)
}

.caixaActivitatMonitor {
    margin: 0px 20px 20px 20px;
}

.caixaBotons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 15px 15px 15px;
}

.botoEditar {
    display: flex;
    background-color: white;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: 1.5px solid grey; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    color: grey;

}

.botoEliminar {
    display: flex;
    background-color: white;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: 1.5px solid grey; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    color: grey;
    margin-left: 15px;
}

.botoEditar:hover {
    display: flex;
    background-color: white;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: 1.5px solid grey; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    color:  rgb(189, 189, 189);
    cursor: pointer;
}

.botoEliminar:hover {
    display: flex;
    background-color: white;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: 1.5px solid grey; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    color: lightcoral;
    margin-left: 15px;
    cursor: pointer;
}

.bottom {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100px;
}

.bottom-up {
    display: flex;
    flex-direction: row;
    height: 50%;
    border-top: 1px solid rgb(231, 231, 231);
}

.bottom-down {
    display: flex;
    flex-direction: row;
    height: 50%;
    border-top: 1px solid rgb(231, 231, 231);
}



.caixaActivitatDetallsUp {
    display: flex;
    padding: 5px;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.caixaActivitatDetallsUpLateral {
    border-left: 1px solid rgb(231, 231, 231);

}
.caixaActivitatDetallsDown {
    display: flex;
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;

    text-align: center;
}





@media only screen and (max-width: 600px) {

    .actForm {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
        border-radius: 5px;
        width: 90%;
        margin-top: 20px;
        height: auto;
    
    }

    .actLlista2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
        height: auto;
        margin-top: 5px;
    }
    
    .caixaActivitat {
        margin: 20px 0px 20px 20px;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
        border-radius: 5px;
        background-color: white;
        min-width: 350px;
        height: auto;
    
    }

    .caixaOpcioFinal {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        margin: 10px;
        width: 30px;    
        color: white;
    }
    
    
    
    



}

/* .botons {
    display: flex;
    flex-direction: row;
}

.botoEditar {
    display: flex;
    border: 0px;
    width: 70px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 20px 20px;
    cursor: pointer;
    height: 40px;
    background-color: blueviolet;
    border-radius: 3px;
    color: white;
    font-size: 15px;

}

.botoEliminar {
    display: flex;
    border: 0px;
    width: 70px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 20px 20px;
    cursor: pointer;
    height: 40px;
    background-color: blueviolet;
    border-radius: 3px;
    color: white;
    font-size: 15px;

} */