<!-- <h1 class="display-5 text-center">Activitats actives</h1>
<div>&nbsp;</div>

<table class="table table-hover student-details-table-width">
    <thead align="center">
        <th>Activitat</th>
        <th>Descripció</th>
        <th>Monitor</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </thead>
    <tbody align="center">
        <tr *ngFor="let studentInfo of studentList">
            <td>{{studentInfo.nomActivitat}}</td>
            <td>{{studentInfo.descripcioActivitat}}</td>
            <td>{{studentInfo.nomMonitor}}</td> 
            <td><a class="btn text-warning" (click)="onEdit(studentInfo)"><i class="fa fa-edit" title="Edit"></i></a></td>
            <td><a class="btn text-danger" (click)="onDelete(studentInfo)"><i class="fa fa-trash" title="Delete"></i></a></td>
        </tr>
    </tbody>
</table>

<div class="error" *ngIf="deleteMessage">
    <h5 class="text-dark">{{ deleteMessage }}</h5>
</div> -->

<div class="actLlista2">
    <!-- <div class="actLlistaTitol">Activitats actives</div> -->
    <div *ngFor="let activitatInfo of activitatsLlista" class="caixaActivitat">
        <div class="caixaBotons">
            <a class="botoEditar" (click)="onEdit(activitatInfo)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a class="botoEliminar" (click)="onDelete(activitatInfo)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>

        <div class="caixaActivitatTitol">{{activitatInfo.nomActivitat}}</div>
        <div class="caixaActivitatDescripcio">{{activitatInfo.descripcioActivitat}}</div>
        <div class="bottom">
            <div class="bottom-up">
                <div class="caixaActivitatDetallsUp">
                    {{activitatInfo.horariActivitatInici}}h - {{activitatInfo.horariActivitatFinal}}h
                </div>
                <div class="caixaActivitatDetallsUp caixaActivitatDetallsUpLateral">{{activitatInfo.preuActivitat}} €</div>
            </div>
            <div class="bottom-down">
                <div class="caixaActivitatDetallsDown">{{activitatInfo.nomMonitor}}</div>
            </div>
        </div>


        <!-- <div class="botons">
            <a class="botoEditar" (click)="onEdit(activitatInfo)">Editar</a>
            <a class="botoEliminar" (click)="onDelete(activitatInfo)">Eliminar</a>
        </div> -->



    </div>
    <div class="caixaOpcioFinal"></div>

</div>

