<div class="caixaGran">
  <div class="caixa" *ngIf="user$ | async as user; else loading">
    <div class="titol">Gràcies per registrar-te</div>
    <div class="subtitol">Hem enviat un correo de confirmació a {{user?.email}} </div>
    <div class="subtitol">Si us plau, consulta el teu correu electrònic i fes click al enllaç que trobaràs per verificar el teu compte.</div>
    <div class="boto" (click)="onSendEmail()" >Reenviar verificació</div>
  </div>
  
  <ng-template #loading>
    <div class="loadingdiv">Carregant informació...</div>
  </ng-template>
</div>
