.avis1 {
    display: flex;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 5px;
    margin: 10px 20px 10px 10px;
}

.avisIcon {
    font-size: 30px;
    margin-right: 10px;
}

.avisText {
    align-self: center;
}


.actForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    margin-top: 20px;
}

.actFormTitol {
    display: flex;
    margin: 20px 20px 20px 30px;
    font-weight: bold;
    font-size: 30px;
}

.formulari {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.formulari-esquerra {
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
}

.formulari-dreta {
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
}

.formulari-input {
    display: flex;
    margin: 0px 20px 20px 20px;
    flex-direction: column;
}

.form-control {
    display: flex;
    margin-bottom: 20px;
    width: 90%;
    height: 50px;
    font-size: 16px;
}

.validation-error {
    display: flex;
    color: lightcoral;
    margin-bottom: 20px;
}


.actFormBoto {
    display: flex;
    justify-content: flex-end;
    margin: 0px 20px 20px 20px;
}

.FormBoto {
    display: flex;
    cursor: pointer;
    height: 70px;
    background-color: blueviolet;
    color: white;
    border: 0px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    
}

input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.05);
    padding-left: 10px;
    font-size: 13px;
}

.missatge-feedback {
    margin: 0px 20px 20px 20px;
    display: flex;
    padding: 5px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    color: white;
    border-radius: 3px;
    width: 90%;
    margin-top: 20px;
    justify-content: center;
}

.lateral {
    display: flex;
    flex-direction: column;
}

.botoLateral {
    display: flex;
}


@media only screen and (max-width: 600px) {

    .actForm {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
        border-radius: 5px;
        width: 90%;
        margin-top: 20px;
        height: auto;
    
    }
    

    
    .inputs {
        display: flex;
        flex-direction: column;
    }
    

}