<!-- <h1 class="display-5 text-center">Afegir activitats</h1>
<div>&nbsp;</div> -->

<!-- <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <div class="form-group">
        <input name="nomActivitat" #nomActivitat="ngModel" [(ngModel)]="service.formData.nomActivitat" class="form-control"
            placeholder="Nom de l'activitat" required>
        <div *ngIf="nomActivitat.invalid && nomActivitat.touched" class="validation-error">Es requereix escriure el nom de l'activitat.</div>
    </div>
    <div class="form-group">
        <input name="descripcioActivitat" #descripcioActivitat="ngModel" [(ngModel)]="service.formData.descripcioActivitat" class="form-control"
            placeholder="Descripció de l'activitat" required>
        <div *ngIf="descripcioActivitat.invalid && descripcioActivitat.touched" class="validation-error">Es requereix escriure la descripció.</div>

    </div>
    <div class="form-group">
        <input name="nomMonitor" #nomMonitor="ngModel" [(ngModel)]="service.formData.nomMonitor" class="form-control"
            placeholder="Nom del monitor" required>
        <div *ngIf="nomMonitor.invalid && nomMonitor.touched" class="validation-error">Es requereix escriure el nom del monitor.</div>

    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid"
            class="btn btn-lg btn-block btn btn-outline-success">Afegeix activitat</button>
    </div>
</form>

<div class="error" *ngIf="message">
    <h5 class="text-success">{{ message }}</h5>
</div> -->


<div class="actForm">
    <div class="actFormTitol">Afegir noves activitats</div>

    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" class="formulari">

        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
        <div class="inputs">
            <div class="formulari-esquerra">
                <input name="nomActivitat" #nomActivitat="ngModel" [(ngModel)]="service.formData.nomActivitat" 
                class="form-control" placeholder="Nom de l'activitat" required>
        
                <div *ngIf="nomActivitat.invalid && nomActivitat.touched" 
                class="validation-error">Es requereix escriure el nom de l'activitat.</div>
        
                <input name="descripcioActivitat" #descripcioActivitat="ngModel" [(ngModel)]="service.formData.descripcioActivitat" 
                class="form-control" placeholder="Descripció de l'activitat" required>
        
                <div *ngIf="descripcioActivitat.invalid && descripcioActivitat.touched" 
                class="validation-error">Es requereix escriure la descripció.</div>  
        
                <input name="nomMonitor" #nomMonitor="ngModel" [(ngModel)]="service.formData.nomMonitor" 
                class="form-control" placeholder="Nom del monitor" required>
        
                <div *ngIf="nomMonitor.invalid && nomMonitor.touched" 
                class="validation-error">Es requereix escriure el nom del monitor.</div>   
        
            </div>
    
            <div class="formulari-dreta">
                <input type="datetime" name="horariActivitatInici" #horariActivitatInici="ngModel" 
                [(ngModel)]="service.formData.horariActivitatInici" class="form-control" placeholder="Hora inici" required>
        
                <div *ngIf="horariActivitatInici.invalid && horariActivitatInici.touched" 
                class="validation-error">Es requereix seleccionar l'hora inicial de l'activitat.</div>    
        
        
        
                <input type="datetime" name="horariActivitatFinal" #horariActivitatFinal="ngModel" 
                [(ngModel)]="service.formData.horariActivitatFinal" class="form-control" placeholder="Hora final" required>
        
                <div *ngIf="horariActivitatFinal.invalid && horariActivitatFinal.touched" 
                class="validation-error">Es requereix seleccionar l'hora final de l'activitat.</div>    
        
                <input type="number" name="preuActivitat" #preuActivitat="ngModel" 
                [(ngModel)]="service.formData.preuActivitat" class="form-control" placeholder="Preu de l'activitat" required>
        
                <div *ngIf="preuActivitat.invalid && preuActivitat.touched" 
                class="validation-error">Es requereix escriure el preu de l'activitat.</div>    
        
        
            </div>
    
        </div>




        <button type="submit" [disabled]="form.invalid" class="FormBoto">Afegeix activitat</button>
            

    </form>
    
</div>

<div class="missatge-feedback" *ngIf="message">{{ message }}</div>


