.caixaActivitats {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    /* border: 1px solid green; */
}

i {
    font-size: 20px;
}

.avisNoInscripcions {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    margin: 10px;
    background-color: grey;
    color: white;
    padding: 10px;
    
}

.caixaOpcio {
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    background-color: white;
    justify-content: space-between;
    overflow: hidden;
}

.caixaOpcioFinal {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: 10px;
    width: 20px;    
    color: white
}

.caixaActivitatTitol {
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
}

.caixaActivitatNom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}


.caixaActivitatNen {
    display: flex;
    height: 30%;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    overflow: hidden;

}

.caixaBotons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 15px 0px 15px;

}

.botoEditar {
    display: flex;
    background-color: white;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: 1.5px solid grey; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    color: grey;

}

.botoEliminar {
    display: flex;
    background-color: white;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: 1.5px solid grey; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    color: grey;
    margin-left: 15px;
}

.botoEditar:hover {
    display: flex;
    background-color: white;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: 1.5px solid grey; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    color:  rgb(189, 189, 189);
    cursor: pointer;
}

.botoEliminar:hover {
    display: flex;
    background-color: white;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border: 1.5px solid grey; */
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
    color: lightcoral;
    margin-left: 15px;
    cursor: pointer;
}



