
<div class="caixaActivitats">
    <div *ngIf="!inscripcionsLlista || inscripcionsLlista.length === 0" class="avisNoInscripcions">
        Encara no has fet cap inscripció. Les teves inscripcions es mostraran aquí.
    </div>

    <div *ngFor="let inscripcioInfo of inscripcionsLlista" class="caixaOpcio">
        <div class="caixaActivitatNom">
            <div class="caixaBotons">
                <a class="botoEditar" (click)="onEdit(inscripcioInfo)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a class="botoEliminar" (click)="onDelete(inscripcioInfo)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
            <div class="caixaActivitatTitol">{{inscripcioInfo.nomActivitat}}</div>
        </div>
        <div class="caixaActivitatNen">{{inscripcioInfo.nomNen}}</div>
    </div>
    <div *ngIf="!inscripcionsLlista || inscripcionsLlista.length > 0"class="caixaOpcioFinal"></div>
</div>


