<div class="screen2">
    <div class="lateral">
            <div class="lateral-top">
                    <div class="botoLateral" routerLink="/admin/gestio">Gestió d'activitats</div>
                    <div class="botoLateral2" routerLink="/admin/inscripcions">Inscripcions</div>
                    <!-- <div class="botoLateral" routerLink="/admin/comptabilitat">Comptabilitat</div> -->
            </div>
            <!-- <div class="lateral-bottom">
                    <div class="botoLogOut">Tancar Sessió</div>
            </div> -->
    </div>
    
<div class="screen3">
        <div class="avis1">
                <div class="avisIcon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                <div class="avisText">Esteu entrant en la secció d'administració de les activitats extraescolars. Qualsevol canvi es veurà reflexat en l'oferta d'activitats extraescolars.</div>
        </div>

        <div class="screen-actForm">
        
                <app-afegiractivitats></app-afegiractivitats>
        </div>
        <div class="screen-actLlista">
                <app-llistaractivitats></app-llistaractivitats>
        </div>
            
            
</div>

</div>