<div class="navbar">
  <!-- <div class="button">
    <div class="ralla"></div>
    <div class="ralla"></div>
    <div class="ralla"></div>
  </div> -->
  <div class="menu">
    <div class="logo" routerLink="/home"><img class="fotologo" src="../assets/img/logo1.png" alt=""></div>
    <!-- <div class="menu" *ngIf="user$ | async as user">
      <a class="botons" [routerLink]="['/admin']">Administració</a>
      <a class="botons" [routerLink]="['/suscriptor']">Home</a>
    </div> -->
  </div>

  <div class="botonsnavbar"*ngIf="user$ | async as user">
    <div class="botonsngIF" *ngIf="user$ | async as user">      
      <!-- <div class="email"> {{user?.email}} </div> -->
    </div>
    <div *ngIf="this.botoamaga" (click)="this.navbarvisible = false; this.botoamaga = false; this.botomostra = true">
      <div class="circle">
        <i class="arrow up"></i>
      </div>
    </div>
    <div *ngIf="this.botomostra" (click)="this.navbarvisible = true; this.botomostra = false; this.botoamaga = true">
      <div class="circle">
        <i class="arrow down"></i>
      </div>
    </div>

  </div>
  <!-- <ng-template #login>
    <div class="botons" routerLink="/login">Inicia sessió</div>
    <div class="botons" routerLink="/register">Crea un compte</div>
  </ng-template> -->
</div>

<div class="sub-navbar" *ngIf="this.navbarvisible">
  <div class="email" *ngIf="user$ | async as user"> {{user?.email}} </div>
  
  <div class="menu" *ngIf="user$ | async as user">
    <a class="botons" [routerLink]="['/suscriptor']"><i class="fa fa-home" aria-hidden="true"></i>    </a>
    <a class="botons" [routerLink]="['/admin']"><i class="fa fa-lock" aria-hidden="true"></i></a>
    <div class="botoSortir" (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
  </div>
  <!-- <ng-template #login>
    <div class="botons" routerLink="/login">Inicia sessió</div>
    <div class="botons" routerLink="/register">Crea un compte</div>
  </ng-template> -->



</div>
