.navbar {
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;

}

.sub-navbar {
    display: flex;
    position: fixed;
    background-color: white;
    align-self: flex-end;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.07);
    border-radius: 5px;
    height: auto;
    right: 25px;
    top: 90px;
    flex-direction: column;
}

.email {
    display: flex;
    font-size: 15px;
    justify-content: center;
    color: white;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    border-radius: 3px;
    margin: 20px 27px 20px 27px;
    padding: 7px;
    /* align-self: flex-end; */
}



@media only screen and (max-width: 600px) {
    .sub-navbar {
        display: flex;
        background-color: white;
        height: auto;
        width: 100%;
        flex-direction: column;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.07);
        position: inherit;
        margin-top: 100px;
        margin-bottom: -100px;
    }

    .email {
        display: flex;
        font-size: 15px;
        justify-content: center;
        color: white;
        border: 1px solid blueviolet;
        background-color: blueviolet;
        border-radius: 3px;
        padding: 7px;
        margin: 14px 0px 14px 0px;
        width: 89%;
        align-self: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        margin: 0px 20px 20px 20px;
    }
    

    .botons {
        display: flex;
        height: 40px;
        background: white;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.07);
        border-radius: 3px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: grey;
        padding: 5px;
        margin: 0px 7px 0px 7px;
        font-size: 15px;
        width: 100%;
        
    }
    
    .botons:hover {
        background-color: rgb(230, 230, 230);
        text-decoration: none;
    
    }
    
    
    .botoSortir {
        display: flex;
        background-color: lightcoral;
        height: 40px;
        border-radius: 3px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: white;
        padding: 5px;
        margin: 0px 7px 0px 7px;
        font-size: 15px;
        width: 100%;
    }
    
    .botoSortir:hover {
        background-color: rgb(207, 108, 108);
    }
    
    
}

.button {
    display: flex;
    width: 30px;
    height: 40px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ralla {
    width: 100%;
    height: 4px;
    background-color: #9c24fc;;
    margin: 2px 0px 2px 0px;
    border-radius: 3px;
}

.logo {
    display: flex;
    width: 140px;
    align-self: center;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: #901484;
    font-size: 18px;
    cursor: pointer;
}

.fotologo {
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

.circle {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.07);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    margin-right: 15px;
    cursor: pointer;
}

.arrow {
    display:flex;
    border: solid blueviolet;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 14px;
    width: 14px;
}

.down {
    transform: rotate(45deg);
    margin-bottom: 3px;
}

.up {
    transform: rotate(-135deg);
    margin-top: 4px;

}


.botonsnavbar {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    align-items: center;
    position: fixed;
    right: 10px;
}

.botonsngIF {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: end;
    align-items: center;
}


@media only screen and (min-width: 600px) {
.botons {
    display: flex;
    height: 40px;
    width: 105px;
    background: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.07);
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: grey;
    padding: 5px;
    margin: 0px 7px 0px 7px;
    font-size: 15px;
}

.botons:hover {
    background-color: rgb(230, 230, 230);
    text-decoration: none;

}


.botoSortir {
    display: flex;
    background-color: lightcoral;
    height: 40px;
    width: 105px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    padding: 5px;
    margin: 0px 7px 0px 7px;
    font-size: 15px;
}

.botoSortir:hover {
    background-color: rgb(207, 108, 108);
}

.menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
}


}



