
<div class="caixaGran">
  <div class="caixa">
    <div class="titol">Restableix la constasenya</div>
    <div class="subtitol">Introdueix el teu correu electrònic, gràcies.</div>
    <input type="email" class="form-control" [formControl]="userEmail" required/>
    <button class="boto" (click)="onReset()">
      Enviar petició
    </button>

  </div>
  
</div>

