.caixaGran {
    /* background-color: green; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}

.caixa {
    /* background-color: pink; */
    margin-top: 50px;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
}

.titol {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: blueviolet;
    margin-bottom: 10px;
    width: 100%;
}

.subtitol {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.boto {
    display: flex;
    height: 40px;
    background-color: blueviolet;
    color: white;
    border: 0px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    cursor: pointer;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
}

